#===============================================================================
# Orca - Leader -> Echo Demo
#===============================================================================
# This unit is part of the Orca project. It spins up a server running skyDNS, a
# DNS service we use to find services in our CoreOS cluster.  It's great
# because it keeps track of all the moving parts that power Orca. This service
# is started first so all other services can find each other.

[Unit]
Description=Spin Up Leader

[Service]
TimeoutStartSec=0

ExecStartPre=/usr/bin/echo "========================"
ExecStartPre=/usr/bin/echo "  New Service Starting"
ExecStartPre=/usr/bin/echo "========================"

# Display this service's public IP address.
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/echo "Public IP Address: ${COREOS_PUBLIC_IPV4}"
ExecStartPre=/usr/bin/echo "Private IP Address: ${COREOS_PRIVATE_IPV4}"


# Pull Orca's Leader Docker Container.
ExecStartPre=-/usr/bin/docker kill leader
ExecStartPre=-/usr/bin/docker rm leader
ExecStartPre=/usr/bin/docker pull pandapup/orca_echo_leader

# Deploy the Leader.
ExecStart=/usr/bin/docker run --name leader pandapup/orca_echo_leader /bin/bash -c \
  "source ~/.nvm/nvm.sh && nvm use 0.11 && \
  npm install -g jashkenas/coffee-script && \
  cd orca && \
  git checkout coreos-echo && git pull && npm install && \
  cd examples/echo/leader && \
  /orca/bin/orca-leader ."

[Install]
WantedBy=multi-user.target
