#===============================================================================
# Orca - Redis
#===============================================================================
# This unit is part of the Orca project. It spins up a server running Redis, a
# distributed key-value store.  Using Redis's publish-submit mechanism (pub-sub),
# Orca Drones can communicate with each other and the Leader concerning the test
# results and the health of the swarm.  This service is started second, before
# the Leader and Drones but after SkyDNS.

[Unit]
Description=Spin Up Redis
After=skydns.service
Requires=docker.service
Requires=skydns.service

[Service]
TimeoutStartSec=0

# Register Redis with Orca's DNS.
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/etcdctl set local/skydns/redis \
    '{"host":"${COREOS_PUBLIC_IPV4}","port":6379}'

# Pull Official Redis Docker Container
ExecStartPre=-/usr/bin/docker kill redis
ExecStartPre=-/usr/bin/docker rm redis
ExecStartPre=/usr/bin/docker pull dockerfile/redis

# Deploy Redis
ExecStart=/usr/bin/docker run --name redis -p 6379:6379 dockerfile/redis

[Install]
WantedBy=multi-user.target
