#===============================================================================
# Orca - Skydock
#===============================================================================
# This unit is part of the Orca project. It spins up a container running Skydock.
# Skydock is a tool created by Michael Crosby that bridges SkyDNS and Docker
# technology.  Using the Docker host's API, it detects new containers and pushes
# them to the SkyDNS registry according to the schema [service].[environment].[domain]

[Unit]
Description=Spin Up Skydock
After=docker.service
Before=leader.service

[Service]
TimeoutStartSec=0

ExecStartPre=/usr/bin/echo "========================"
ExecStartPre=/usr/bin/echo "  New Service Starting"
ExecStartPre=/usr/bin/echo "========================"

# Display this service's public IP address.
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/echo "Public IP Address: ${COREOS_PUBLIC_IPV4}"
ExecStartPre=/usr/bin/echo "Private IP Address: ${COREOS_PRIVATE_IPV4}"


# Pull Orca's Skydock Docker Container.
ExecStartPre=-/usr/bin/docker kill skydock
ExecStartPre=-/usr/bin/docker rm skydock
ExecStartPre=/usr/bin/docker pull crosbymichael/skydock

#====================
# Deploy Skydock.
#====================
# We use SkyDNS with the Skydock system developed by Michael Crosby.  There are
# quite a few things going on here, so they are explained here.

# (1) Skydock does its magic by accessing the Docker host via Docker's remote API.
#     Since we don't want every container to be able to access this API, the
#     following container bind-mounts the Docker host's Unix socket to its own.

# (2) The time-to-live is set in seconds, indicating how frequently the DNS pings
#     services making sure they are still around and listed in its DNS reply.

# (3) Skydock has several flags to assign names to address components.
#     Addresses are constructed according to the schema:
#     [service].[environment].[domain]

# (4) The flag "-s" tells Skydock where to find the Unix socket for Docker.


ExecStart=/usr/bin/docker run --dns 172.17.42.1 \
  -v /var/run/docker.sock:/docker.sock \
  --name skydock crosbymichael/skydock \
  -ttl 30 \
  -environment dev \
  -domain orca \
  -s /docker.sock \
  -name skydns


[Install]
WantedBy=multi-user.target

[X-Fleet]
MachineOf=skydns.service
