#=============================================================================================
# Elasticsearch is used to store results from the cluster's load test for end-user analysis.
#=============================================================================================

[Unit]
Description=Spin Up Elasticsearch
After=skydns.service
Requires=docker.service

[Service]
# Wait 30 seconds after SkyDNS starts to make sure it's fully online.
TimeoutStartSec=30

# Register Elasticsearch with Orca's DNS.
ExecStartPre=/usr/bin/etcdctl set /skydns/orca/elasticsearch -d value='{"host":"elasticsearch","port":9200}'

# Pull Elasticsearch's Official Docker Container
ExecStartPre=/usr/bin/docker pull dockerfile/elasticsearch

# Deploy Elasticsearch
ExecStart=/usr/bin/docker run -p 9200:9200 dockerfile/elasticsearch


[Install]
WantedBy=multi-user.target
