#=============================================================================================
# Elasticsearch is used to store results from the cluster's load test for end-user analysis.
#=============================================================================================

[Unit]
Description=Spin Up Elasticsearch
After=skydns.service
Requires=docker.service

[Service]
TimeoutStartSec=0

# Register Elasticsearch with Orca's DNS.
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/etcdctl set /dns/elasticsearch/host ${COREOS_PUBLIC_IPV4}
ExecStartPre=/usr/bin/etcdctl set /dns/elasticsearch/port 9200

# Pull Elasticsearch's Official Docker Container
ExecStartPre=-/usr/bin/docker kill elasticsearch
ExecStartPre=-/usr/bin/docker rm elasticsearch
ExecStartPre=/usr/bin/docker pull pandapup/elasticsearch-beta

# Deploy Elasticsearch
ExecStart=/usr/bin/docker run --name elasticsearch -p 9200:9200 pandapup/elasticsearch-beta


[Install]
WantedBy=multi-user.target
