#=============================================================================================
# Kibana is used to plot and analyze data collected from the cluster's load test.  Kibana
# cannot be spun up until Elasticsearch is running.
#=============================================================================================

[Unit]
Description=Spin Up Kibana 4
After=elasticsearch.service
Requires=docker.service

[Service]
# Wait 45 seconds after the Elasticsearch service starts to make sure it's fully online.
TimeoutStartSec=45

# Register Kibana with Orca's DNS.
ExecStartPre=/usr/bin/etcdctl set /skydns/orca/kibana '{\"host\":\"%H\",\"port\":5601}'

# Pull Orca's Kibana Docker Container
ExecStartPre=-/usr/bin/docker rm kibana
ExecStartPre=/usr/bin/docker pull pandapup/kibana4

# Deploy Kibana
ExecStart=address=$(/usr/bin/etcdctl get /skydns/orca/elasticsearch) ; \
    /usr/bin/docker run --name kibana -p 5601:5601 pandapup/kibana4 $address



[Install]
WantedBy=multi-user.target
