#=============================================================================================
# SkyDNS is service Orca rely's on to register the many technologies that contribute
# to its function.  This service is started first so all other services can find each other.
#=============================================================================================

[Unit]
Description=Spin Up SkyDNS
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0

# Store DNS Address in etcd
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/etcdctl set /dns/host ${COREOS_PUBLIC_IPV4}
ExecStartPre=/usr/bin/etcdctl set /dns/port 53

# Pull Orca's SkyDNS Docker Container
ExecStartPre=-/usr/bin/docker kill skydns
ExecStartPre=-/usr/bin/docker rm skydns
ExecStartPre=/usr/bin/docker pull pandapup/skydns

# Deploy SkyDNS
ExecStart=/usr/bin/docker run --name skydns -p 53:53 pandapup/skydns


[Install]
WantedBy=multi-user.target
