body {
  background: #ddd;
}

h3 {
  color: #333;
  text-align: center;
  margin-bottom: 1em;
}

.tags {
  overflow:auto;
  padding-left: 8px;
}

/* based on Bootstrap .alert */

.tag {
  float: left;
  padding: 6px 14px 0px 14px;
  margin-bottom: 20px;
  margin-right: 4px;
  color: #3a87ad;
  background-color: #d9edf7;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  border: 1px solid #bce8f1;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tag .close {
  position: relative;
  top: -2px;
  right: -7px;
  line-height: 20px;
}

#content {
  margin-top: 1em;
}

#charts {
  /*width: 900px;*/
}

#tests {
  float: left;
}

#concurrency_chart {
  float: left;
  width: 60%;
  height: 500px;
}

#small_charts {
  float: left;
  width: 25%;
  height: 400px;
}

#error_chart {
  height: 200px;
}

#summary pre {
  font-size: 0.8em;
}

