name: "si_events"
description: "Logging an event against the SI Events API"
quorum: 1
repeat: 3
step: 16
timeout: 5000 # 5 seconds
package:
  reference: "examples/simple"
  name: "simple_test"
options:
  url: "http://localhost:1337/"

