body {
  background: #ddd;
}

h3 {
  color: #333;
  text-align: center;
  margin-bottom: 1em;
}

code {
  color: #333;
  background: inherit;
}

.tags {
  overflow:auto;
  padding-left: 8px;
}


#tests {
  /*height: 100px;*/
  /*overflow: scroll;*/
}

#tests ul {
  list-style-type: none;
  font-family: monospace;
}

#tests ul > li {
  font-size: 1em;
  /*margin-bottom: 1em;*/
}

#test_details {
  margin-bottom: 1em;
}

#test_details span {
  margin-right: 1em;
}

#concurrency_chart {
  height: 400px;
  background-color: white;
}

#test_list {
  margin-left: 0;
}

#test_list li a {
  margin-right: 1em;
}

#error_chart {
  height: 300px;
}

#error_chart {
  font-size: 0.9em;
}

#summary pre {
  font-size: 0.7em;
}


