body {
  background: #ddd;
}

h3 {
  color: #333;
  text-align: center;
  margin-bottom: 1em;
}

.tags {
  overflow:auto;
  padding-left: 8px;
}

/* based on Bootstrap .alert */

#tests ul {
  list-style-type: none;
  font-family: monospace;
}

#tests ul > li {
  font-size: 1em;
  /*margin-bottom: 1em;*/
}

#test_list {
}

#concurrency_chart {
  height: 400px;
}

.details {
  margin-left: 0;
  display: none;
}


#error_chart {
  height: 300px;
}

#error_chart {
  font-size: 0.9em;
}

#summary pre {
  font-size: 0.7em;
}


